---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import OtherComponent from "../components/OtherComponent.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

//import transitions effect
import { ClientRouter } from 'astro:transitions';

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>

  <body>
    
    <Header />
    <OtherComponent />
    
    <Footer />
  
  </body>
</html>
