---
import { SITE_TITLE } from "../consts"
import ThemeToggle from "./ThemeToggle.astro"
---
<div class="overlay"></div>
<header class="transparent">
    <div class="nav-container">
        <div class="logo">
            <a href="/">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="16 18 22 12 16 6"></polyline>
                <polyline points="8 6 2 12 8 18"></polyline>
                <line x1="10" y1="6" x2="14" y2="18"></line>
              </svg>
              <h2>{SITE_TITLE}</h2>
            </a>
          </div>
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

      <div class="navbar-icons">
        
     
        <a href="https://github.com/myname-abdulmanap" target="_blank" class="icon github-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
                <path d="M12 2C6.48 2 2 6.48 2 12c0 4.418 2.866 8.167 6.839 9.49.5.092.679-.217.679-.482 0-.239-.01-.871-.015-1.711-2.78.602-3.372-1.34-3.372-1.34-.455-1.141-1.111-1.446-1.111-1.446-.91-.622.07-.61.07-.61 1.008.071 1.536 1.04 1.536 1.04.894 1.535 2.346 1.092 2.91.836.091-.648.35-1.091.638-1.343-2.221-.252-4.555-1.11-4.555-4.92 0-1.088.39-1.976 1.031-2.67-.103-.253-.448-1.267.097-2.635 0 0 .84-.268 2.747 1.037a9.656 9.656 0 0 1 2.502-.338c.85 0 1.71.118 2.502.338 1.907-1.305 2.747-1.037 2.747-1.037.545 1.368.2 2.382.097 2.635.642.694 1.031 1.582 1.031 2.67 0 3.818-2.337 4.666-4.56 4.92.358.342.669.97.669 1.955 0 1.411-.015 2.552-.015 2.895 0 .268.179.577.679.482 3.972-1.323 6.838-5.072 6.838-9.49 0-5.52-4.48-10-10-10z"/>
            </svg>
        </a>

        <ThemeToggle />
        <button class="hamburger" aria-label="Menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        
      </div>
      
  
    
    </div>
  </header>
  
  <script src="/src/components/js/header.ts"></script>
  